<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns:mvc="http://www.springframework.org/schema/mvc"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:property-placeholder location="/resources/application.properties"/>

    <global-method-security pre-post-annotations="enabled"/>

<http use-expressions="true">
<intercept-url access="hasRole('ROLE_VERIFIED')" pattern="/html/**"/>
<intercept-url pattern='/test' access='permitAll'/>

<logout logout-success-url="/"/>




<session-management session-fixation-protection="newSession">
    <concurrency-control max-sessions="1"/>
</session-management>

<http-basic />
</http>
<authentication-manager>
<authentication-provider>
    <user-service>
        <user name="mds2" password="${login.token}" authorities="ROLE_VERIFIED"/>
    </user-service>

</authentication-provider>
</authentication-manager>


    <mvc:cors>
        <mvc:mapping path="/test"
                     allowed-origins="*"
                     allowed-headers="Content-Type, Access-Control-Allow-Origin, Access-Control-Allow-Headers, Authorization, X-Requested-With, requestId, Correlation-Id"
                     allowed-methods="GET, PUT, POST, DELETE"/>
    </mvc:cors>

</b:beans>