<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="/resources/application.properties"/>

    <global-method-security pre-post-annotations="enabled"/>

<http use-expressions="true">
<intercept-url access="hasRole('ROLE_VERIFIED')" pattern="/**"/>
<!--<intercept-url pattern='/*' access='permitAll'/>-->

<logout logout-success-url="/"/>




<session-management session-fixation-protection="newSession">
    <concurrency-control max-sessions="1"/>
</session-management>

<http-basic />
</http>
<authentication-manager>
<authentication-provider>
    <user-service>
        <user name="mds2" password="${login.token}" authorities="ROLE_VERIFIED"/>
    </user-service>

</authentication-provider>
</authentication-manager>


</b:beans>